.editor {
  background: var(--color-secondary);
  border: none;
  color: var(--color-primary);
  resize: none;
  height: 50%;
  padding: 3em;
  border-radius: 0;
}

@media only screen and (min-width: 700px) {
  .editor {
    width: 50%;
    height: 100%;
    padding: 4em;
  }
}
